@import '~breakpoint-sass/stylesheets/breakpoint';
@import '~styles/variables';
@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family:   'Roboto, "Helvetica Neue", sans-serif',
  // Large, one-off headers, usually at the top of the page (e.g. a hero header).
  $display-4:     mat-typography-level(24px, 32px, 400),
  $display-3:     mat-typography-level(24px, 32px, 400),
  $display-2:     mat-typography-level(24px, 32px, 400),
  $display-1:     mat-typography-level(24px, 32px, 400),
  $headline:      mat-typography-level(18px, 30px, 400), // Section heading corresponding to the <h1> tag.
  $title:         mat-typography-level(16px, 28px, 500), // Section heading corresponding to the <h2> tag.
  $subheading-2:  mat-typography-level(16px, 28px, 400), // Section heading corresponding to the <h3> tag.
  $subheading-1:  mat-typography-level(16px, 20px, 400), // Section heading corresponding to the <h4> tag.
  $body-2:        mat-typography-level(14px, 20px, 500), // Base body text.
  $body-1:        mat-typography-level(14px, 20px, 400), // Bolder body text.
  $button:        mat-typography-level(14px, 14px, 500), // Buttons and anchors.
  $caption:       mat-typography-level(12px, 20px, 400), // Smaller body and hint text.
  // Form input fields.
  // Line-height must be unit-less fraction of the font-size.
  $input:         mat-typography-level(1em, 1.25, 400)
);

// 24px (page title)
// 18px (app title)
// 16px (card title, headlines)
// 14px (table title, buttons, body content)
// 12px (footer, help, card title note, step, legal)

$my-app-primary: mat-palette($mat-grey, 800, 400, A100);
$my-app-accent: mat-palette($mat-grey, 400, 50, 600);
$my-app-warn: mat-palette($nsc-mat-red);

// $mat-light-theme-foreground
// $mat-light-theme-background
// $mat-dark-theme-foreground
// $mat-dark-theme-background
// mat-palette($base-palette, $default: 500, $lighter: 100, $darker: 700)
// mat-light-theme($primary, $accent, $warn: mat-palette($mat-red))
// mat-dark-theme($primary, $accent, $warn: mat-palette($mat-red))

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);


@include mat-core($custom-typography);
@include angular-material-theme($my-app-theme);

// default OPTGROUP labels are difficult to distinguish from a valid OPTION;
.mat-optgroup-label {
  background: $color-gray-bg-light;
}

.mat-form-field {
  width: 100%; // all fields will be within a grid, the grid defines the width;
  padding-bottom: 1.75em; // additional space needed to accomidate 'hints' that overflow to two lines;

  @include breakpoint($breakpoint-md) {
    padding-bottom: 0.75em; // dont need the additional spacing on desktop;
  }
}

.mat-typography {
  > *:last-child {
    margin-bottom: 0;
  }
}

body {
  textarea.mat-autosize {
    overflow: hidden;
  }

  .mat-checkbox-layout {
    white-space: normal;
  }
}
