<mat-form-field [formGroup]="group">
  <input matInput
    formControlName="{{ controlName }}"
    maxlength="{{ maxlength }}"
    placeholder="{{ placeholder }}"
    type="{{ type }}"
    [attr.autocomplete]="autocomplete"
    [textMask]="{ mask: mask, guide: false, keepCharPositions: true, modelClean: true }">
  <mat-icon *ngIf="suffix" matSuffix>{{ suffix }}</mat-icon>
  <mat-hint>{{ content.hint }}</mat-hint>
  <mat-error *ngIf="group.controls[controlName].invalid">{{ validationMessage.get(group.controls[controlName], placeholder) }}</mat-error>
</mat-form-field>
