<div class="row">
  <div class="col-12 col-md-8 col-lg-4">
    <nsc-form-field-select
      controlName="country"
      placeholder="Country"
      [group]="formGroup"
      [selectObjects]="values.countries$.value"></nsc-form-field-select>
  </div>
  <div class="col-12 col-md-8 col-lg-4" *ngIf="formGroup.controls['state'].enabled">
    <nsc-form-field-select-optgroup
      controlName="state"
      placeholder="{{ content.labelState }}"
      [group]="formGroup"
      [selectObjects]="values.states$.value"></nsc-form-field-select-optgroup>
  </div>

  <div class="col-12"></div>

  <div class="col-12 col-md-8" *ngIf="show.school">
    <nsc-form-field-autocomplete
      controlName="school"
      placeholder="{{ content.labelSchool }}"
      [group]="formGroup"
      [notInList]="true"
      [options]="values.schools$.value"
      [loading]="loadingSchools"></nsc-form-field-autocomplete>
  </div>
  <div class="col-12 col-md-8 col-lg-4" *ngIf="formGroup.controls['schoolNotInList'].enabled">
    <nsc-form-field-input
      controlName="schoolNotInList"
      maxlength="60"
      placeholder="Enter School Name"
      [group]="formGroup"></nsc-form-field-input>
  </div>

  <nsc-recipient-select-department
    class="col-12"
    [formGroup]="formGroup"></nsc-recipient-select-department>
</div>
