<div id="blockactivity" class="overlay loading">
  <div class="treecontainer">
      <img class="coinspin" src="{{ logoImage }}"/>
  </div>
  <div class="letterrow">
      <div class="letter letterfold" style="animation-delay: 0.0s;">L</div>
      <div class="letter letterfold" style="animation-delay: 0.1s;">o</div>
      <div class="letter letterfold" style="animation-delay: 0.2s;">a</div>
      <div class="letter letterfold" style="animation-delay: 0.3s;">d</div>
      <div class="letter letterfold" style="animation-delay: 0.4s;">i</div>
      <div class="letter letterfold" style="animation-delay: 0.5s;">n</div>
      <div class="letter letterfold" style="animation-delay: 0.6s;">g</div>
      <div class="letter letterfold" style="animation-delay: 0.7s;">.</div>
      <div class="letter letterfold" style="animation-delay: 0.8s;">.</div>
      <div class="letter letterfold" style="animation-delay: 0.9s;">.</div>
  </div>
</div>
