<form novalidate>
  <div class="row">
    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <nsc-card *ngIf="content.welcomeMessage">
        <nsc-card-title>School Notifications</nsc-card-title>
        <nsc-card-content>
          <div class="mat-typography nsc-welcome-message" [innerHTML]="window.unescape(content.welcomeMessage)"></div>
        </nsc-card-content>
      </nsc-card>

      <nsc-spacer size="md" *ngIf="content.welcomeMessage"></nsc-spacer>

      <nsc-card>
        <nsc-card-title>Clearinghouse Notifications</nsc-card-title>
        <nsc-card-content>
          <div class="mat-typography">
            <p>
              Payment will be accepted, if a cost is involved, with any major credit or debit card. Your credit or debit card is not charged until your school sends your transcripts(s). However, if you use a debit card, your bank may put a hold on your funds when we pre-authorize your payment. If you have questions on the pre-authorization, please contact your bank.
            </p>
          </div>
        </nsc-card-content>
      </nsc-card>
    </div>
  </div>

  <nsc-spacer size="md"></nsc-spacer>

  <div class="nsc-form-actions">
    <button
      mat-raised-button
      class="nsc-form-actions__button"
      color="primary"
      type="button"
      (click)="continue()">Order Transcript(s)</button>
  </div>
</form>
